{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | QazNews</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"></head>

<body>
    <header class="header">
        <div class="primary-header">
            <div class="container">
                <nav>
                    <a href="{% url 'home_page' %}">Главная</a>
                    <a href="#">О нас</a>
                    <a href="#">FAQ</a>
                    <a href="#">Контакты</a>
                </nav>
                <nav>
                    <a href="#">
                        <img src="{% static './img/threads.svg' %}" alt="Threads">
                    </a>
                    <a href="#">
                        <img src="{% static './img/telegram.svg' %}" alt="Telegram">
                    </a>
                    <a href="#">
                        <img src="{% static './img/instagram.svg' %}" alt="Instagram">
                    </a>
                </nav>
            </div>
        </div>

        <div class="secondary-header">
            <div class="container-fluid">
                <a href="{% url 'admin:index' %}">
                    <img src="{% static './img/user.svg' %}" alt="">
                    <span>Войти</span>
                </a>
                <a href="{% url 'home_page' %}" class="logo">
                    <img src="{% static './img/logo.svg' %}" alt="QazNews">
                </img>
                <a href="#">
                    <img src="{% static './img/phone.svg' %}" alt="">
                    <span>+7 777 123 45 67</span>
                </img>
            </div>
        </div>

        <div class="third-header">
            <div class="container-fluid">
                <nav>
                    <a href="{% url 'all_news_page' %}">Все новости</a>
                    {% for category in categories %}
                    <a href="{% url 'news_by_category' pk=category.pk %}">{{ category.name }}</a>
                    {% endfor %}
                </nav>
                <a href="{% url 'search_page' %}">
                    <img src="{% static './img/search.svg' %}" alt="">
                    <span>Поиск новостей</span>
                </a>
            </div>
        </div>
    </header>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="footer">
        <div class="container">
            <a href="{% url 'home_page' %}"><img src="{% static './img/logo-white.svg' %}" alt="QazNews"></a>
            <p>&copy; TOO Qaznews 2026. Все права защищены.</p>
        </div>
    </footer>
</body>

</html>