{% extends 'base.html' %}

{% block title %}{{ category.name }} news{% endblock %}

{% block content %}
<section class="news-block">
    <div class="container-fluid">
        <div class="news-block-content">
            <h3>{{ category.name }} новости</h3>
            {% for post in posts %}
            <div class="news-block__card">
                <img src="{{ post.image_url }}" alt=""
                     class="news-block__img">
                <div class="news-block__info">
                    <h4>{{ post.title|truncatechars:100 }}</h4>
                    <span>{{ post.created_at|date:"d.m.Y" }}</span>
                    <a href="#">#{{ post.category.name }}</a>
                    <p>{{ post.content|truncatechars:100 }}</p>
                    <a href="{% url 'read_news_page' pk=post.pk %}">Читать</a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="adv-block-content">
            <h3>Реклама</h3>
            <div class="adv-block__info">
                {% for adv in advs %}
                <img src="{{ adv.image_url }}" alt="{{ adv.name }}">
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}